# Byte‑code
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Build / distribution artifacts
build/
*.egg-info/
.dist/

# Virtual environment
venv/
.env

# IDE / editor config
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# PyInstaller
*.spec
